.openapi-schema-form {

    background: white;

    .form-field {

        margin-bottom: 5px;
        margin-left: 10px;

        label {
            width: 200px;
            display: inline-block;
        }

        .mandatory {
            color: red;
        }

        .null {
            font-style: italic;
            color: gray;
            cursor: pointer;
        }
    }
}
