<div class="openapi-schema-form">

    <div *ngIf="schemaLoadErrorMessage.length > 0; else schemaForm" class="error-message" [innerHTML]="schemaLoadErrorMessage"></div>

    <ng-template #schemaForm>

        <h1>Schema: {{ schemaRootField.def.name }}</h1>

        <p [innerHTML]="schemaRootField.def.description"></p>

        <form>
            <fieldset>

                <div class="form-fields">

                    <ng-template #objectFieldTemplate let-fieldObj="fieldObj">

                        <div class="form-field form-field-object">

                            <div class="title">Object<span *ngIf="fieldObj.def.mandatory" class="mandatory">*</span> {{ fieldObj.def.name }}</div>

                            <ng-container *ngFor="let itemObj of fieldObj.items">
                                <ng-container *ngTemplateOutlet="anyFieldTemplate; context: { fieldObj: itemObj }"></ng-container>
                            </ng-container>


                        </div>

                    </ng-template>
                    
                    <ng-template #anyFieldTemplate let-fieldObj="fieldObj">

                        <div class="form-field">

                            <label>{{ fieldObj.def.name }}</label>
                            <span *ngIf="fieldObj.def.mandatory" class="mandatory">*</span>
                            <ng-container *ngIf="!fieldObj.def.mandatory && fieldObj.isNull; else fieldNotNullTemplate">
                                <span class="null" (click)="fieldObj.isNull = false">null</span>
                            </ng-container>

                            <ng-template #fieldNotNullTemplate>
                                <ng-container *ngIf="fieldObj.def.type === 'string'">
                                    <ng-container [ngSwitch]="fieldObj.def.format">
                                        <ng-container *ngSwitchCase="fieldObj.def.format === 'password'">
                                            <input type="password" [formControl]="fieldObj.formControl" />
                                        </ng-container>
                                        <ng-container *ngSwitchCase="fieldObj.def.format === 'date'">
                                            <input type="date" [formControl]="fieldObj.formControl" />
                                        </ng-container>
                                        <ng-container *ngSwitchCase="fieldObj.def.format === 'date-time'">
                                            <input type="datetime-local" [formControl]="fieldObj.formControl" />
                                        </ng-container>
                                        <ng-container *ngSwitchCase="fieldObj.def.format === 'binary'">
                                            <input type="file" [formControl]="fieldObj.formControl" />
                                        </ng-container>
                                        <ng-container *ngSwitchCase="fieldObj.def.format === 'byte'">
                                            <input type="file" [formControl]="fieldObj.formControl" />
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <ng-container *ngIf="fieldObj.def.enum.length > 0; else standardTextField">
                                                <select [formControl]="fieldObj.formControl">
                                                    <option *ngFor="let item of fieldObj.def.enum" [ngValue]="item">{{ item }}</option>
                                                </select>
                                            </ng-container>
                                            <ng-template #standardTextField>
                                                <input type="text" [formControl]="fieldObj.formControl" />
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="fieldObj.def.type === 'boolean'">
                                    <input type="checkbox" [formControl]="fieldObj.formControl" />
                                </ng-container>
                                <ng-container *ngIf="fieldObj.def.type === 'integer'">
                                    <input type="number" [formControl]="fieldObj.formControl" />
                                </ng-container>
                                <ng-container *ngIf="fieldObj.def.type === 'number'">
                                    <input type="number" [formControl]="fieldObj.formControl" />
                                </ng-container>
    
                                <ng-container *ngIf="fieldObj.def.type === 'object'">
                                    <ng-container *ngIf="!fieldObj.isNull; else addObjectTemplate">
                                        <ng-container *ngFor="let itemObj of fieldObj.objectProperties">
                                            <ng-container *ngTemplateOutlet="anyFieldTemplate; context: { fieldObj: itemObj }"></ng-container>
                                        </ng-container>
                                        <button *ngIf="!fieldObj.def.mandatory" (click)="$event.preventDefault(); removeObjectItem(fieldObj)">-</button>
                                    </ng-container>
                                    <ng-template #addObjectTemplate>
                                        <button (click)="$event.preventDefault(); addObjectItem(fieldObj)">+</button>
                                    </ng-template>
                                </ng-container>
    
                                <ng-container *ngIf="fieldObj.def.type === 'array'">
                                    <ng-container *ngFor="let itemObj of fieldObj.arrayItems">
                                        <ng-container *ngTemplateOutlet="anyFieldTemplate; context: { fieldObj: itemObj }"></ng-container>
                                        <button (click)="$event.preventDefault(); removeArrayItem(itemObj, fieldObj)">-</button>
                                    </ng-container>
                                    <button (click)="$event.preventDefault(); addArrayItem(fieldObj)">+</button>
                                </ng-container>

                                <ng-container *ngIf="!fieldObj.def.mandatory">
                                    <a class="null" (click)="fieldObj.isNull = true">set null</a>
                                </ng-container>
                            </ng-template>

                        </div>

                    </ng-template>

                    <ng-container *ngTemplateOutlet="anyFieldTemplate; context: { fieldObj: schemaRootField }"></ng-container>

                </div>

                <div class="form-field form-field-button">
                    <button (click)="$event.preventDefault(); submit()">Submit</button>
                </div>
                <div class="form-field form-field-button">
                    <button (click)="$event.preventDefault(); cancel()">Cancel</button>
                </div>

            </fieldset>
        </form>
    </ng-template>

</div>
